* {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 1.8;
}

/* No borders */
body, html {
  height: 100%;
  background-color: #DCDCDC;
  color: #777;
  overflow-x:hidden;
  margin: 0;
}

.map {
  width: 50%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
}

/* Make image fit the screen */
.background-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

.container {
  position: relative;
  text-align: center;
}

.welcome-img {
  background-image: url('pictures/cover.jpg');
  min-height: 100%;
}

.portfolio-img {
  background-image: url('pictures/portfolio.jpg');
  padding-top: 300px;
}

.miscellaneous-img {
  background-image: url('pictures/grandprismatic.jpg');
  padding-top: 300px;
}

.hobby-img {
  width: auto;
  height: 200px;
  margin: 30px;
}

.work-img {
  width: auto;
  height: 150px;
  margin: 30px;
}

.game-img {
  width: auto;
  height: 250px;
  margin: 30px;
}

.about-me-img {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.popup {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.9);
  padding-top: 50px;
}

.popup-img {
  width: 500px;
  height: auto;
}

/* map popup */
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

video {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 700px;
  position: relative;
  padding-top: 66.6666666667%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 550px;
 }
}

.gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
  height: 100px;
  width: 100px;
  z-index: 5;
}

.gallery-thumb:hover {
  cursor: pointer;
}

.gallery-selector {
  position: absolute;
  opacity: 1;
  visibility: hidden;
}

.gallery-selector:checked + .gallery-img {
  opacity: 1;
}

.gallery-selector:checked ~ .gallery-thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}
/* end map popup */

.popup-txt {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
}

.slideshow-txt {
  padding-top: 300px;
}

.line { 
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 700, from(#000), to(rgb(220, 220, 220)));
}

.about-me-text {
  width: 500px;
  margin-left: 50px;
}

.arrow-viewbox {
  height: 0px; 
  width: 30px;
}
  
.center-txt {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-from-center {
  transform: translate(-50%,-50%);
}
  
.large-font {
  font-size: 24px;
  letter-spacing: 10px;
}
  
.white-color {
  color: #fff;
}

.arrows path {
  fill: transparent;
}

.flex {
  display: flex;
  justify-content: center;
}

.hover-opacity:hover {
  opacity: 0.6;
  cursor: pointer;
}
  
.animate-left-right {
  overflow: hidden;
  animation: keyframes-left-right 2s;
}
  
@keyframes keyframes-left-right {
  from { 
    width: 0; 
  }
  to { 
    width: 100%; 
  }
}

.animate-clear-opacity {
  animation: keyframes-clear-opacity 2s forwards;
}
  
@keyframes keyframes-clear-opacity {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 0;
  }
}

.animate-down-arrow {
  opacity: 0;
  animation: keyframes-down-arrow 2s infinite;
}
  
@keyframes keyframes-down-arrow {
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  60% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.delay-top {
  animation-delay: 2s;
}

.delay-mid {
  animation-delay: 2.5s;
}

.delay-bot {
  animation-delay: 3s;
}

#slideshow {
	margin: auto;
	width: 250px;
  height: 200px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 40s infinite linear;
	transform-style: preserve-3d;
  zoom: 170%;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
}

.content-carrousel img {
	image-rendering: auto;
	/* transition: all 300ms; */
	width: 100%;
	height: 100%;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
